absl-py==2.3.1
aiohappyeyeballs==2.4.4
aiohttp==3.10.11
aiohttp-cors==0.7.0
aiosignal==1.3.1
annotated-types==0.7.0
async-timeout==5.0.1
attrs==25.3.0
Box2D==2.3.10
certifi==2026.7.22
cffi==1.17.1
charset-normalizer==3.5.1
click==8.1.8
cloudpickle==3.1.2
colorama==0.4.6
colorful==0.5.8
contourpy==1.1.1
cryptography==47.0.0
cycler==0.12.1
distlib==0.4.3
et_xmlfile==2.0.0
exceptiongroup==1.3.1
Farama-Notifications==0.0.6
filelock==3.16.1
fonttools==4.57.0
frozenlist==1.5.0
fsspec==2025.3.0
google-api-core==2.29.0
google-auth==2.50.0
google-auth-oauthlib==1.0.0
googleapis-common-protos==1.73.0
-e git+https://github.com/lschulichang/GOPS.git@93d30a0cbfb5dec571e0c9297dfca4bf303c0c81#egg=gops
grpcio==1.70.0
gym==0.23.1
gym-notices==0.1.0
gymnasium==0.29.1
idna==3.15
importlib_metadata==8.5.0
importlib_resources==6.4.5
iniconfig==2.1.0
Jinja2==3.1.6
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
kiwisolver==1.4.7
Markdown==3.7
MarkupSafe==2.1.5
matplotlib==3.7.5
mpmath==1.3.0
msgpack==1.1.1
multidict==6.1.0
networkx==3.1
numpy==1.24.4
oauthlib==3.3.1
opencensus==0.11.4
opencensus-context==0.1.3
openpyxl==3.1.5
packaging==26.2
pandas==2.0.3
pillow==10.4.0
pkgutil_resolve_name==1.3.10
platformdirs==4.3.6
pluggy==1.5.0
prometheus_client==0.21.1
propcache==0.2.0
proto-plus==1.27.1
protobuf==5.29.6
py-spy==0.4.2
pyasn1==0.6.4
pyasn1_modules==0.4.2
pybind11==3.0.4
pybind11-stubgen==2.5.5
pycparser==2.23
pydantic==2.10.6
pydantic_core==2.27.2
pygame==2.6.1
pyglet==1.5.27
pyparsing==3.1.4
pytest==8.3.5
python-dateutil==2.9.0.post0
python-discovery==1.6.1
pytz==2026.3.post1
PyYAML==6.0.3
ray==2.10.0
referencing==0.35.1
requests==2.32.4
requests-oauthlib==2.0.0
rpds-py==0.20.1
scipy==1.10.1
seaborn==0.13.2
six==1.17.0
slxpy==1.6.2
smart_open==7.3.1
sympy==1.13.3
tensorboard==2.14.0
tensorboard-data-server==0.7.2
tomli==2.4.1
torch @ file:///E:/GOPS/.setup-tmp/downloads/torch-2.4.1%2Bcu121-cp38-cp38-win_amd64.whl#sha256=a48b991cd861266523cbed4705f89bef09669d5d2bbfa2524486156f74a222a8
torchaudio @ file:///E:/GOPS/.setup-tmp/downloads/torchaudio-2.4.1%2Bcu121-cp38-cp38-win_amd64.whl#sha256=bafc2e099349c487b8311e2417431eea24b0f0844baafd452403e4e24200ae58
torchvision @ file:///E:/GOPS/.setup-tmp/downloads/torchvision-0.19.1%2Bcu121-cp38-cp38-win_amd64.whl#sha256=7779b5dbe10994380d8baf5d7c754e6f57dac0f513009e003525f13a29f45491
typing_extensions==4.13.2
tzdata==2026.4
urllib3==2.2.3
virtualenv==21.4.3
Werkzeug==3.0.6
wrapt==2.0.1
yarl==1.15.2
zipp==3.20.2
